html {
  height: 100%;
  margin: auto;
  overflow: scroll
}

video {
  object-fit: cover;
  width: 100vw;
  position: relative;
  top: 0;
  left: 0;
}

.aboutus h1{
  font-family: 'GT-Super-Display-Medium', sans-serif !important;
  font-size: 64px;
  line-height: 64px;
}

.aboutus p{
  font-size: 21px;
  line-height: 28px;
  color: #999999;
  font-weight: 100;
}

.grid-container {
    display: grid;
    grid-template-columns: 20px 1fr 1fr 20px;
    grid-template-rows: 600px auto auto auto auto auto ;
    gap: 5px 5px;
    max-width: 1200px;
    margin-left:auto;
    margin-right:auto;
    grid-template-areas:
      ". welcomewrap welcomewrap ."
      ". sparkhope img1 ."
      ". img2 whyjellyfish ."
      ". team team ."
      ". purpose img3 ."
      ". footer footer .";
  }
  
  .welcomewrap { grid-area: welcomewrap; }
  
  .sparkhope { grid-area: sparkhope; }
  
  .img1 { grid-area: img1; }
  
  .whyjellyfish { grid-area: whyjellyfish; }
  
  .img2 { grid-area: img2; }
  
  .team { grid-area: team; }
  
  .purpose { grid-area: purpose; }
  
  .img3 { grid-area: img3; }
  
  .footer { grid-area: footer; }


  .team-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 0px 0px;
    grid-template-areas:
      "a1 a2 a3"
      "b1 b2 b3";
  }
  
  .a1 { grid-area: a1; }
  
  .a2 { grid-area: a2; }
  
  .a3 { grid-area: a3; }
  
  .b1 { grid-area: b1; }
  
  .b2 { grid-area: b2; }
  
  .b3 { grid-area: b3; }


  @media screen and (max-width: 500px) {
    .grid-container {
      display: grid;
      grid-template-columns: 10px 1fr 10px;
      grid-template-rows: 600px auto auto auto auto auto auto auto auto auto;
      gap: 0px 0px;
      grid-template-areas:
        ". welcomewrap ."
        ". img1 ."
        ". sparkhope ."
        ". img2 ."
        ". whyjellyfish ."
        ". team team ."
        ". img3 ."
        ".  purpose ."
        ". footer .";
    }
  }

  @media screen and (max-width: 900px) {

      .aboutholder{
        padding: 16px !important;
        margin: auto;
      }
    
      .aboutholder h1{
        text-align: left;
        line-height: 40px  !important;;
        font-size: 40px  !important;;
        padding-bottom: 16px;
        font-family: 'GT-Super-Display-Medium', sans-serif;
      }
    
      .about h1 {
        font-size: 40px;
      }

      .aboutholder p {
        text-align: left;
        font-size: 18px  !important;;
        line-height: 24px;
    }

  }

  .aboutholder{
    padding: 32px;
    margin: auto;
  }

  .aboutholder h1{
    text-align: left;
    line-height: 64px;
    font-size: 64px;
    padding-bottom: 32px;
    font-family: 'GT-Super-Display-Medium', sans-serif;

  }

  .about h1 {
    text-transform: uppercase;
    line-height: 78px;
    font-size: 64px;
    letter-spacing: 4px;
    color: white;
    font-weight: bold;
    text-align: center;
    margin-top: 232px;
    font-family: 'GT-Super-Display-Medium', sans-serif;
}

  .about h2 {
    padding-top: 32px;
    font-size: 7vw;
    max-width: 960px;
    margin: auto;
    text-align: center;
    font-family: 'GT-Super-Display-Medium', sans-serif;
}
  
  .aboutholder p {
    text-align: left;
    font-size: 24px;
    line-height: 42px;
}

  .colortext {
    background: linear-gradient(101deg, #F2387C, #DE41F2);
        background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.teamitems img {
  height: 300px;
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.teamitems h5 {
  font-size: 32px;
  padding-bottom: 64px;
  text-align: center;
}

.teamitems h4 {
  margin-top: 32px;
  padding-bottom: 16px;
  text-align: center;
}

.meetteam h1 {
  padding-bottom: 40px;
  text-align: center;
  margin-top: -150px;
  font-family: 'GT-Super-Display-Medium', sans-serif;
}


@media screen and (max-width: 1000px) {
  .teamitems img {
    height: 200px;
    width: 200px;
  }
  .teamitems h4 {
    margin-top: 24px;
    padding-bottom: 10px;
    text-align: center;
  }
  .teamitems h5 {
    font-size: 24px;
    padding-bottom: 0px;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .team-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto ;
    gap: 0px 0px;
    grid-template-areas:
      "a1 a2"
      "a3 b1"
      "b2 b3";
  }


}

@media screen and (max-width: 450px) {
  .teamitems img {
    height: 300px;
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .team-grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto ;
    gap: 0px 0px;
    grid-template-areas:
      "a1"
      "a2"
      "a3" 
      "b1"
      "b2" 
      "b3";
  }

  .half{
    width:100% !important;
  }

  .half h1{
    text-align: left;
    line-height: 48px;
    font-size: 48px;
    padding-bottom: 32px;
    font-weight: 100;
    text-transform: none;
    width: 560px;
    width: 325px;
    font-weight: 100 !important;
  }

  .about{
    margin-top: -150px;

  }
  .about h1 {
    font-size: 50px;
  }
}

.social-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 150px;
  gap: 0px 0px;
  grid-template-areas:
    "facebookWrap twitterWrap linkWrap";
}

.facebookWrap { grid-area: facebookWrap; }

.twitterWrap { grid-area: twitterWrap; }

.linkWrap { grid-area: linkWrap; }

.smlink {
  height: 64px;
  width: 64px;
  border-radius: 32px;
  margin-top: 16px;
  border: solid 1px transparent;
  transition: 0.2s ease-in;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img {
  z-index: 1;
  position: relative;
}

.grid-container2 {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 20px 1fr 1fr 20px;
  grid-template-rows: auto auto auto auto auto auto;
  gap: 0px 0px;
  grid-template-areas:
    ". textField1 imgField1 ."
    ". intro intro ."
    ". textField2 imgField2 ."
    ". imgField3 textField3 ."
    ". textField4 imgField4 ."
    ". teamField teamField .";
}

.textField1 { grid-area: textField1; }

.imgField1 { grid-area: imgField1; }

.intro { grid-area: intro; }

.imgField2 { grid-area: imgField2; }

.textField2 { grid-area: textField2; }

.textField3 { grid-area: textField3; }

.imgField3 { grid-area: imgField3; }

.imgField4 { grid-area: imgField4; }

.textField4 { grid-area: textField4; }

.teamField { grid-area: teamField; }

.teamField h1{
  text-transform: capitalize;
}


@media screen and (max-width: 768px) {
  .half h1 {
      line-height: 36px;
      font-size: 36px;
      text-align: center;
  }
}


@media screen and (max-width: 750px) {
  .grid-container2 {
    display: grid;
    grid-template-columns: 10px 1fr 10px;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto;
    gap: 0px 0px;
    grid-template-areas:
      ". imgField1 ."
      ". textField1 ."
      ". intro ."
      ". imgField2 ."
      ". textField2 ."
      ". imgField3 ."
      ". textField3 ."
      ". imgField4 ."
      ". textField4 ."
      ". teamField .";
      margin-top: 200px;
  }
  .half h1 {
      line-height: 48px;
      font-size: 48px;
      width:100%;
  }

  .player{
    max-height: 500px;
    width: 300px;
  }

  .aboutus h1 {

    line-height: 54px;
    font-size: 54px;

}

}



@media screen and (max-width: 520px) {

  .half h1 {
      line-height: 34px;
      font-size: 32px;
      width:100%;
  }

}