@media screen and (max-width: 500px) {
    .controlscontainer h1 {
        top: 100px;
        font-size: 20px;
        left: 20px;
        text-align: left !important;
    }

    .controlscontainer input[type="text"] {
        border: none;
        border-bottom-color: currentcolor;
        border-bottom-style: none;
        border-bottom-width: medium;
        border-bottom: 1px solid white;
        max-width: 350px;
        width: 100%;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        top: 10px;
        font-size: 24px;
        text-align: center;
        padding-bottom: 10px;
        color: white;
        outline: none;
    }
}