* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  margin: 0;
  height: 100vh;
  background-color: #0d0b0e;
  overflow: hidden;
  color: white;
  
}

h1, h2, h3, h4, h5, h6 {
  font-family: sans-serif;
  color: white;
}

p, a {
  font-family: sans-serif;
  text-decoration: none;
  color: white;
}

.loader{
  position: fixed;
  z-index: 99;
  display: block;
  height: 100vh;
  width: 100vw;
  background-color: #0d0b0e;
}

.loader h1{
  position: absolute;
  width: 500px;
  text-align: center;
  bottom: 164px;
  left: 0;
  right: 0;
  margin: auto;
  color: black;
  font-size: 86px;
  -webkit-text-fill-color: rgb(0, 0, 0); /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  letter-spacing: 4px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
}

.loader h2{
  position: absolute;
  width: 500px;
  text-align: center;
  bottom: 124px;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  font-weight: 300;
  padding-top: 32px;
}

#app{
  background-color: #0d0b0e;
  width: 100vw;
  height: calc(100vh - 70px);
  display: block;
}

#stars {
  background: radial-gradient(ellipse at bottom, #080e11, #00031E);
  width: 100vw;
  height: 100vh;
  display: block;
}

nav {
  height: 70px;
}

/* drawer menu */
.drawer-menu {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  right: 0;
  width: 110vw;
  height: 100%;
  padding: 120px 0;
  background: rgb(12, 12, 12);
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: .5s;
  transition-duration: .5s;
  opacity: 0;
  display: none;
}

.drawer-menu h1{
  color: white;
  text-transform: uppercase;
  font-size: 16px;
}

ul{
  position: absolute;
  left: 220px;
  bottom: 64px;
  list-style-type: none;
  text-decoration: none;
}

.drawer-menu li {
  width: 800px;
  transition: 0.2s ease-in;
}

.drawer-menu li a {
  display: block;
  height: auto;
  line-height: 72px;
  color: #fff;
  -webkit-transition: all .8s;
  transition: all .8s;
  font-size: 64px;
  text-decoration: none;
  padding-top: 32px;
  transition: 0.2s ease-in;
}

.drawer-menu li a:hover {
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #F2387C, #DE41F2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all .8s;
}

/* checkbox */
.check {
  display: none;
}

/* menu button - label tag */
.menu-btn {
  position: fixed;
  display: block;
  top: 48px;
  right: 36px;
  width: 64px;
  height: 64px;
  font-size: 10px;
  text-align: center;
  cursor: pointer;
  z-index: 3;
  border-radius: 64px;
  border: solid 3px transparent;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #F2387C, #DE41F2);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #000 inset;
}

.bar {
  position: absolute;
  top: 21px;
  left: 16px;
  display: block;
  width: 28px;
  height: 2px;
  background-color: #fff;
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
}

.bar.bottom {
  top: 34px;
  -webkit-transform-origin: left bottom;
  -ms-transform-origin: left bottom;
  transform-origin: left bottom;
}

.menu-btn__text {
  position: absolute;
  bottom: -15px;
  left: 0;
  right: 0;
  margin: auto;
  color: #fff;
  -webkit-transition: all .5s;
  transition: all .5s;
  display: block;
  visibility: visible;
  opacity: 1;
}

.menu-btn:hover .bar {
  background: #999;
}

.menu-btn:hover .menu-btn__text {
  color: white;
}

.close-menu {
  position: fixed;
  top: 0;
  right: 300px;
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,0);
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  visibility: hidden;
  opacity: 0;
}

/* checked */
.check:checked ~ .drawer-menu {
  -webkit-transition-delay: .3s;
  transition-delay: .3s;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  opacity: 1;
  z-index: 2;
  display: block;
}

.check:checked ~ .menu-btn .menu-btn__text {
  visibility: hidden;
  opacity: 0;
}

.check:checked ~ .menu-btn .bar.top {
  width: 24px;
  left: 22px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.check:checked ~ .menu-btn .bar.bottom {
  width: 24px;
  top: 37px;
  left: 22px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.socialmedias{
  position: absolute;
  right: 36px;
  bottom: 36px;
}

.smlink{
  height: 48px;
  width: 48px;
  border-radius: 32px;
  margin-top: 16px;
  border: solid 3px transparent;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #F2387C, #DE41F2);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #000 inset;
}

/* #title {
  margin: 15px 25px;
  color: white;
} */

/* #links {
  width: fit-content;
  overflow: hidden;
  height: 100%;
}

nav, #links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#links a {
  color: white;
  text-align: center;
  padding: 100% 16px;
  text-decoration: none;
}

#links a:hover {
  color: #0d0b0e;
  background-color: white;
} */

.learnmorebg{
  height: auto;
  background-color: #0d0b0e;
  height: 100vh;
}

.learnmorebg h1, .learnmorebg h2, .learnmorebg p{
  color: white;
  text-align: center;
  padding-top: 32px;
  max-width: 32em;
  margin: auto;
  font-size: 18px;
}

.learnmorebg h1{
  padding-top: 136px;
  font-size: 96px;
}


/*App styling*/
.slidecontainer{
  position: absolute;
  bottom: 164px;
  left: -64px;
  transform: rotate(-90deg);
}

.controlscontainer{
  position: absolute;
  bottom: 100px;
  left: 30px;
}

.slider {
  -webkit-appearance: none;
  width: 240px;
  height: 16px;
  background: rgba(255, 255, 255, 0.247);
  outline: none;
  border-radius: 25px;
  border: 2px solid white;
  color: rgb(214, 214, 214);
  border: solid 3px transparent;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #F2387C, #DE41F2);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #000 inset;
}

.slider::-webkit-slider-thumb {
  transition: 0.1s ease-in;
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  background: rgb(240, 240, 240);
  cursor: pointer;
  border-radius: 30px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: white;
  cursor: pointer;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.audio{
    position: absolute;
    right: 36px;
    bottom: 36px;
    height: 64px;
    width: 64px;
    outline:none;
}

.audio button{
  height: 64px;
  width: 64px;
  font-size: 32px;
  border: none;
  background: none;
  border-radius: 100rem;
  font-size: 24px;
  color: rgb(255, 255, 255);
  border: solid 3px transparent;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #F2387C, #DE41F2);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #000 inset;
  transition: 0.1s ease-in;
  outline:none;
}

.audio button:hover, .slider::-webkit-slider-thumb:hover, .makewish:hover, .explore:hover{
  transform: scale(0.9); 
  transition: 0.1s ease-out;
}

/*Welcome screen*/
.welcomescreen{
  width: 100%;
  height: 100vh;
  background-color: #0c0c0c;
}

.welcometxt{
  height: auto;
  position: absolute;
  bottom: 54px;
  left: 64px;
}

.welcomescreen h2{
  text-transform: uppercase;
  font-weight: 200;
  font-size: 24px;
}

.welcomescreen h1{
  font-weight: 200;
  font-size: 86px;
}

.makewish{
  height: auto;
  width: auto;
  padding: 12px;
  padding-left: 32px;
  padding-right: 32px;
  font-size: 16px;
  border: none;
  background: none;
  border-radius: 100rem;
  color: rgb(255, 255, 255);
  border: solid 3px transparent;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #F2387C, #DE41F2);
  background-origin: border-box;
  background-clip: content-box, border-box;
  transition: 0.1s ease-in;
  margin-top: 164px;
}

.explore{
  height: auto;
  width: auto;
  font-size: 16px;
  padding: 12px;
  padding-left: 32px;
  padding-right: 32px;
  border: none;
  background: none;
  border-radius: 100rem;
  color: rgb(255, 255, 255);
  border: solid 3px transparent;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #F2387C, #DE41F2);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #000 inset;
  transition: 0.1s ease-in;
  margin-left: 16px;
}

.forest{
  position: absolute;
  bottom: -76px;
  width: 100%;
}