* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  margin: 0;
  height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  font-family: sans-serif;
}

p, a {
  font-family: sans-serif;
}

#app {
  background-color: rgb(22, 22, 22);
  width: 100vw;
  height: calc(100vh - 70px);
  display: block;
}

nav {
  height: 70px;
}

#title {
  margin: 15px 25px;
}

#links {
  width: fit-content;
  overflow: hidden;
  height: 100%;
}

nav, #links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#links a {
  color: black;
  text-align: center;
  padding: 100% 16px;
  text-decoration: none;
}

#links a:hover {
  color: white;
  background-color: black;
}

.learnmorebg{
  height: auto;
  background-color: #111;
  height: 100vh;
}

.learnmorebg h1, .learnmorebg h2, .learnmorebg p{
  color: white;
  text-align: center;
  padding-top: 32px;
  max-width: 32em;
  margin: auto;
  font-size: 18px;
}

.learnmorebg h1{
  padding-top: 136px;
  font-size: 96px;
}

