* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

a, button{
  font-family: sofia-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  height: 100vh;
  background-color: #0d0b0e;
  overflow: hidden;
  color: white;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: sans-serif;
  color: white;
}

p,
a {
  font-family: sans-serif;
  text-decoration: none;
  color: white;
}

.loader {
  position: fixed;
  z-index: 99;
  display: block;
  height: 100vh;
  width: 100vw;
  background-color: #0d0b0e;
}

.loader h1 {
  position: absolute;
  width: 500px;
  text-align: center;
  bottom: 164px;
  left: 0;
  right: 0;
  margin: auto;
  color: black;
  font-size: 86px;
  -webkit-text-fill-color: rgb(0, 0, 0);
  /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  letter-spacing: 4px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
}

.loader h2 {
  position: absolute;
  width: 500px;
  text-align: center;
  bottom: 124px;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  font-weight: 300;
  padding-top: 32px;
}

#app {
  background: radial-gradient(ellipse, #000259, #01032C);
  width: 100vw;
  height: calc(100vh - 70px);
  display: block;
}

#stars {
  background: linear-gradient(#16092e, #0c1352);
  width: 100vw;
  height: 100vh;
  display: block;
}

.starveiw h1{
  font-family: sofia-pro, sans-serif;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 1px;
  font-size: 24px;
  color: white;
  text-align: left;
  width: 220px;
  padding: 16px;
}

.orbitbanner{
  animation: slide-in 0.8s cubic-bezier(.32,.7,.51,1.33);
  display: flex;
  position: absolute;
  z-index: 12;
  height: auto;
  width: 340px;
  bottom: 42px;
  left: 0;
  right: 0;
  margin: auto;
  padding: 16px;
  border-radius: 64px;
  text-align: center;
  background-color: #50505054;
  backdrop-filter: blur(4px);
}

@keyframes slide-in{
  from{
    bottom: -120px;
  }

  to{
    
    bottom: 46px;
  }
}

.orbitbanner img{
  height: 56px;
  margin: 12px;
  padding-left: 8px;
}

.logo {
  width: 164px;
  height: 164px;
  position: absolute;
  z-index: 41;
  transition: 0.2s ease-in;
}

.logo:hover {
  transform: scale(0.9);
  transition: 0.2s ease-in;
}

.amountofwish {
  width: 364px;
  height: 64px;
  background: black;
  opacity: 0.7;
  border-top-right-radius: 64px;
  position: fixed;
  bottom: 0;
  padding: 16px;
  box-sizing: border-box;
}

.amountofwish h1 {
  font-weight: 200;
  padding-left: 32px;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-top: 6px;
}

.amountofwish span {
  padding-right: 16px;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #F2387C, #DE41F2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.settings {
  width: 364px;
  height: 64px;
  background: rgba(0, 0, 0, 0.774);
  backdrop-filter: blur(4px);
  border-top-left-radius: 64px;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 18px;
  box-sizing: border-box;
  display: flex;
}

.settings .sounds button {
  font-size: 32px;
  background: none;
  border: none;
  outline: none;
  width: 32px;
}

.settings .sounds,
.settings .search {
  width: auto;
  padding-left: 64px;
  padding-right: 66px;
  transition: 0.1s ease-in;
  box-sizing: border-box;
}

.settings .line {
  height: 100%;
  width: 2px;
  background-color: white;
  opacity: 0.2;
  margin-left: 5px;

}

.settings .sounds:hover,
.settings .search:hover {
  opacity: 0.2;
  transition: 0.1s ease-in;

}

.addJellyFish {
  transition: 0.2s ease-in;
  height: 124px;
  width: 124px;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 32px;
  padding: 32px;
  border-radius: 124px;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #F2387C, #DE41F2);
}

.addJellyFish:hover {
  transform: scale(0.95);
  transition: 0.2s ease-in;
}

nav {
  height: 70px;
}

/* drawer menu */
.drawer-menu {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  right: 0;
  width: 110vw;
  height: 100%;
  padding: 120px 0;
  background: radial-gradient(#E041EA, #000259);
  opacity: 0;
  display: none;
  z-index: 15;
  transition: 0.2s ease-in;
}

.drawer-menu h1 {
  color: white;
  text-transform: uppercase;
  font-size: 18px;
  font-family: sofia-pro, sans-serif;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 5px;
}

ul {
  position: absolute;
  left: 220px;
  bottom: 64px;
  list-style-type: none;
  text-decoration: none;
  margin-left: 42px;
}

.drawer-menu li {
  width: 800px;
  transition: 0.2s ease-in;
}

.drawer-menu li a {
  display: block;
  height: auto;
  line-height: 72px;
  color: #fff;
  -webkit-transition: all .8s;
  transition: all .8s;
  font-size: 86px;
  text-decoration: none;
  padding-top: 32px;
  transition: 0.2s ease-in;
  font-family: ivypresto-headline, serif;
  font-weight: 100;
  font-style: normal;
  letter-spacing: 2px;
}

.drawer-menu li a:hover {
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #F2387C, #DE41F2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all .8s;
}

/* checkbox */
.check {
  display: none;
}

/* menu button - label tag */
.menu-btn {
  position: fixed;
  display: block;
  top: 48px;
  right: 36px;
  width: 64px;
  height: 64px;
  font-size: 10px;
  text-align: center;
  cursor: pointer;
  z-index: 15;
  border-radius: 64px;
  border: solid 3px transparent;
  background-color: black;
  opacity: 0.7;
  transition: 0.2s ease-in;
}

.bar {
  position: absolute;
  top: 21px;
  left: 16px;
  display: block;
  width: 28px;
  height: 2px;
  background-color: #fff;
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
}

.bar.bottom {
  top: 34px;
  -webkit-transform-origin: left bottom;
  -ms-transform-origin: left bottom;
  transform-origin: left bottom;
}

.menu-btn__text {
  position: absolute;
  bottom: -15px;
  left: 0;
  right: 0;
  margin: auto;
  color: #fff;
  -webkit-transition: all .5s;
  transition: all .5s;
  display: block;
  visibility: visible;
  opacity: 1;
}

.menu-btn:hover .bar {
  background: #999;
}

.menu-btn:hover{
  transition: 0.2s ease-in;
  transform: scale(0.95);
}

.close-menu {
  position: fixed;
  top: 0;
  right: 300px;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0);
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  visibility: hidden;
  opacity: 0;
}

/* checked */
.check:checked~.drawer-menu {
  opacity: 1;
  z-index: 14;
  display: block;
  transition: 0.2s ease-in;
}

.check:checked~.menu-btn .bar.top {
  width: 24px;
  left: 22px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.check:checked~.menu-btn .bar.bottom {
  width: 24px;
  top: 37px;
  left: 22px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.socialmedias {
  position: absolute;
  right: 36px;
  bottom: 36px;
}

.smlink {
  height: 48px;
  width: 48px;
  border-radius: 32px;
  margin-top: 16px;
  border: solid 3px transparent;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #F2387C, #DE41F2);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #000 inset;
}

.learnmorebg {
  height: auto;
  background-color: #0d0b0e;
  height: 100vh;
}

.learnmorebg h1,
.learnmorebg h2,
.learnmorebg p {
  color: white;
  text-align: center;
  padding-top: 32px;
  max-width: 32em;
  margin: auto;
  font-size: 18px;
}

.learnmorebg h1 {
  padding-top: 136px;
  font-size: 96px;
}


/*App styling*/
.slidecontainer {
  position: absolute;
  bottom: 164px;
  left: -64px;
  transform: rotate(-90deg);
}

.controlscontainer {
  position: absolute;
  z-index: 12;
  width: 100%;
  height: 100%;
  background-color: black;
}

#myDIV {
  display: none;
}

.controlscontainer h1 {
  width: 100%;
  text-align: center;
  position: relative;
  top: 400px;
  letter-spacing: 4px;
  font-weight: 100;
  font-size: 48px;
}

.controlscontainer input[type=text] {
  border: none;
  border-bottom: 1px solid white;
  background-color: black;
  max-width: 900px;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 500px;
  font-size: 128px;
  text-align: center;
  padding-bottom: 23px;
  color: white;
  outline: none;
}

.controlscontainer button {
  border: none;
  background-color: black;
  color: white;
  padding-left: 32px;
  padding-right: 32px;
  border: 1px solid white;
  width: auto;
  font-size: 24px;
  font-weight: 100;
  padding-top: 12px;
  padding-bottom: 12px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 25%;
  transition: 0.2s ease-in;
  outline: none;
}

.controlscontainer button:hover {
  background-color: white;
  color: black;
  transition: 0.2s ease-in;
}

/*Welcome screen*/
.welcomescreen {
  width: 100%;
  height: 100vh;
  background: radial-gradient(#E041EA, #000259);
}

.welcometxt {
  height: auto;
  position: absolute;
  bottom: 54px;
  left: 64px;
}

.welcomescreen h2 {
  text-transform: uppercase;
  font-weight: 200;
  font-size: 20px;
  font-family: sofia-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.welcomescreen h1 {
  font-weight: 200;
  font-size: 9vw;
  font-family: ivypresto-headline, serif;
  font-weight: 100;
  font-style: normal;
  max-width: 60%;
}

.makewish {
  height: auto;
  width: auto;
  padding: 12px;
  padding-left: 32px;
  padding-right: 32px;
  font-size: 16px;
  border: none;
  background: none;
  border-radius: 100rem;
  color: rgb(255, 255, 255);
  border: solid 3px transparent;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #F2387C, #DE41F2);
  background-origin: border-box;
  background-clip: content-box, border-box;
  transition: 0.1s ease-in;
  margin-top: 164px;
}

.explore {
  height: auto;
  width: auto;
  font-size: 16px;
  padding: 12px;
  padding-left: 32px;
  padding-right: 32px;
  border: none;
  background: none;
  border-radius: 100rem;
  color: rgb(255, 255, 255);
  border: solid 3px transparent;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #F2387C, #DE41F2);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #000 inset;
  transition: 0.1s ease-in;
  margin-left: 16px;
}

.makewish:hover,
.explore:hover {
  transition: 0.1s ease-in;
  transform: scale(0.95);
  outline: none;
}

.forest {
  position: absolute;
  bottom: -76px;
  width: 100%;
}