@media print {
  @page {
    size: landscape;
    margin: 0;
    page-break-after:always;
  }

  #app {
    transform: scale(2) !important;
    width: 100%;
    height: 100%;
  }

  #wishtxtbox {
    position: fixed;
    bottom: 64px !important;
    left: 18px !important;
    margin: auto;
    padding: 16px;
    padding: 0;
  }

  #wishtxtbox h2{
    font-family: 'GT-Super-Display-Medium', sans-serif !important;
    font-size: 136px !important;
    line-height: 156px;
    width: 900px;
  }

  #wishtxtbox h3{
    font-family: sofia-pro, sans-serif;
    font-size: 64px !important;
    line-height: 124px;
  }

  .export{
    display: none !important;
  }


}