


.mobileWrapper {
  width: 300px;
  margin-left: auto;
}

.makewishmobile{
  text-transform: uppercase;
  letter-spacing: 4px;
  position: absolute;
  left: 25%;
  top: 75%;
  height: 64px;
  width: auto;

  background-color: rgba(221, 64, 241, .2); 
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 36px;
}
.exploremobile{
  text-transform: uppercase;
  letter-spacing: 4px;
  position: absolute;
  right: 25%;
  height: 64px;
  width: auto;

  background-color: #F2387C;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 36px;
}


@media screen and (max-width: 900px) {
  .settings {
    scale: .5;
    right: -91px;
    bottom: -17px;
  }
  .makewish{
    display: none;
  }
  .explore{
    display: none;
  }
  .makewishmoblie{
    display: block;
    bottom: 150px;
  }
  .exploremobile{
    display: block;
    top: 75%;
  }
  .mobileWrapper {
    display: block;
  }
  .welcometxt h2 {
    display: none;
  }
  .welcometxt h1 {
    top: 50% !important;
  }
  .welcometxt p {
    top: 35% !important;
  }

  .settings {
    display: none;
  }

}

@media screen and (min-width: 900px) {

  .makewish{
    display: block;
  }
  .explore{
    display: block;
  }
  .makewishmobile{
    display: none;
  }
  .exploremobile{
    display: none;
  }
  .mobileWrapper {
    display: none;
  }
  .welcometxt h2 {
    display: block;
  }
  .settings {
    display: block;
  }


}



@media screen and (max-width: 550px) {
  .makeWish {
    scale: .8;
  }
  
  .explore {
    scale: .8;
    margin-left: 0px !important;
  }

  .welcometxt button {
    scale: .8;
  }

  #welcomescreen h1 {
    font-size: 7vw;
    max-width: 100%;
  }

  .welcometxt {
    text-align: center;
    padding-top: 250px;
    left: 0px !important;
    bottom: 115px;
  }

  .makewishmobile{
    left: 20px !important;
  }
  .exploremobile{
    right: 20px !important;
  }

}

body{
  background: radial-gradient(#000259, #01032C);

}

#container{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}